/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */
#desktop-nav {
  background-color: rgb(216, 216, 140);
  height: 15vh;
}

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* SECTIONS */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section__pic-container {
  position: relative;
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
  margin-top: 4rem;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.lead {
  font-size: 2rem;
  text-align: center;
}

.title {
  font-size: 3rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2.5rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 10rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

/* ABOUT SECTION */

#about {
  position: relative;
  margin-top: 2rem;
  block-size: fit-content;
}

.about-containers {
  gap: 2rem;
  margin: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
  height: 80%;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.arrow {
  position: relative;
  right: -100rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 2rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  margin-top: 1rem;
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

article .icon {
  cursor: default;
}

.section-container {
  gap: 4rem;
  height: 75%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/* dummy ctimeline */
/* The actual timeline (the vertical ruler) */
#timeline {
  margin-top: 2rem;
  block-size: fit-content;
}

.timeline {
  position: relative;
  max-width: 1600px;
  margin: 3rem auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 3px;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -15px;
  background-color: black;
  border: 2px solid black;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid black;
  border-width: 12px 0 10px 10px;
  border-color: transparent transparent transparent black;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid black;
  border-width: 10px 10px 10px 0;
  border-color: transparent black transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -14px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  border: 1px solid black;
  position: relative;
  border-radius: 6px;
}

.content h3 {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.content h2 {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.content p {
  display: flex;
  justify-content: center;
  font-weight: 100;
  font-size: 1.2rem;
}

.content li {
  font-weight: 100;
  font-size: 1rem;
}

/* EXPERIENCE SECTION */

#experience {
  position: relative;
}

.experience-details-container {
  display: flex;
  justify-content: center;
}

/* PROJECTS SECTION */

#projects {
  margin-top: 12rem;
  position: relative;
  block-size: fit-content;
}

#projects .title {
  margin-bottom: 3rem;
}

.project-container {
  position: relative;
  padding: 2rem;
  margin: auto;
  margin-top: 1rem;
  display: flex;
  background: white;
  border-radius: 2rem;
  border: black 0.1rem solid;
  justify-content: center;
  align-items: center;
  width: auto;
}

.project-container:hover {
  background: rgb(88, 87, 87);
  color: white;
}

.btn .btn-color-2 .project-btn:hover {
  color: rgb(88, 87, 87);
}

.project-btn-container {
  margin-left: 25%;
  position: absolute;
  left: 50%;
}

.project-img {
  border-radius: 2rem;
  width: 60%;
  height: 60%;
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}

.project-distinct {
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: 30%;
  justify-content: center;
  border: rgb(163, 163, 163) 0.1rem ridge;
  border-radius: 20%;
}
/* CONTACT */

#contact {
  position: relative;
  justify-content: center;
  height: 80vh;
  padding: 10%;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
  width: 60%;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

/* FOOTER SECTION */

.nav-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 12vh;
  background-color: rgb(219, 219, 160);
}

footer {
  height: 16vh;
  background-color: rgb(219, 219, 160);
}

footer p {
  text-align: center;
}
